[Unit]
Description=Lucy Primary Service

[Service]
Restart=always
StartLimitBurst=0
StandardOutput=syslog
StandardError=syslog
ExecStart=/home/pi/dev/env/dev/bin/python /home/pi/dev/Lucy/primarni_okruh/rpi/primary_loop.py

[Install]
WantedBy=multi-user.target

